body,
html {
    font-family: Inter, sans-serif;
    background-color: var(--layout-bg);
    overflow-y: hidden;
}

hr {
    color: var(--navigation-text);
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

::placeholder {
    color: #eee;
}

.color-white {
    color: var(--navigation-text);
}

.btn-active i {
    color: var(--purple-primary)
}


/* 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
} */